.stickyNav {
  // scroll-behavior: smooth;
  // transition: all 150ms ease-in;
  transition-delay: 10ms;
  box-shadow: inherit;
}
.navLink {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    width: 0;
    height: clamp(0.2rem, 5vw, 0.4rem);
    background: #fafafa;
    transition: all 200ms ease-in-out;
    transform-origin: bottom;
    border-radius: 8px;
  }
  &:hover::before {
    width: 100%;
  }
}
