.stickyNav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  scroll-behavior: smooth;
}
.navLink {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    width: 0;
    height: 0.12rem;
    background: #fafafa;
    transition: all 200ms ease-in-out;
    transform-origin: bottom;
  }
  &:hover::before {
    width: 100%;
  }
}
